@model BDLUCY_CodeFirst_Crud.Models.Categoria

@{
    Layout = null;
}

<div id="something" class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Codigo_Categoria" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo_Categoria" />
            <div class="form-group">
                <label asp-for="Nombre_Categoria" class="control-label">Nombre Categoria</label>
                <input asp-for="Nombre_Categoria" class="form-control" />
                <span asp-validation-for="Nombre_Categoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Descripcion_Categoria" class="control-label">Descripcion</label>
                <input asp-for="Descripcion_Categoria" class="form-control" />
                <span asp-validation-for="Descripcion_Categoria" class="text-danger"></span>
            </div>
            <br />
            <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                           asp-for="Estado_Categoria">Estado
                </label>
            </div>
            <br />
            <div class="form-group">
                <div class="d-grid gap-2">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            <br />
        </form>
    </div>
</div>