@model BDLUCY_CodeFirst_Crud.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo_Producto" />
            <div class="form-group">
                <label asp-for="Codigo_Subcategoria" class="control-label"></label>
                <select asp-for="Codigo_Subcategoria" class="form-control" asp-items="ViewBag.Codigo_Subcategoria"></select>
                <span asp-validation-for="Codigo_Subcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Presentacion" class="control-label"></label>
                <select asp-for="Codigo_Presentacion" class="form-control" asp-items="ViewBag.Codigo_Presentacion"></select>
                <span asp-validation-for="Codigo_Presentacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Marca" class="control-label"></label>
                <select asp-for="Codigo_Marca" class="form-control" asp-items="ViewBag.Codigo_Marca"></select>
                <span asp-validation-for="Codigo_Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Producto" class="control-label"></label>
                <input asp-for="Nombre_Producto" class="form-control" />
                <span asp-validation-for="Nombre_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_De_Barra" class="control-label"></label>
                <input asp-for="Codigo_De_Barra" class="form-control" />
                <span asp-validation-for="Codigo_De_Barra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock_Producto" class="control-label"></label>
                <input asp-for="Stock_Producto" class="form-control" />
                <span asp-validation-for="Stock_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_Compra_Producto" class="control-label"></label>
                <input asp-for="Precio_Compra_Producto" class="form-control" />
                <span asp-validation-for="Precio_Compra_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio_Venta_Producto" class="control-label"></label>
                <input asp-for="Precio_Venta_Producto" class="form-control" />
                <span asp-validation-for="Precio_Venta_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_Producto" class="control-label"></label>
                <input asp-for="Descripcion_Producto" class="form-control" />
                <span asp-validation-for="Descripcion_Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreImage" class="control-label"></label>
                <input asp-for="NombreImage" class="form-control" />
                <span asp-validation-for="NombreImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado_Producto" /> @Html.DisplayNameFor(model => model.Estado_Producto)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
