@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bodega Lucy</h1>
    <img class="img-fluid" src="https://megaemprendedor.com/wp-content/uploads/2019/09/abrir-una-bodega.jpg" />
</div>
